html
    body
        form(method='post', action='/user/')
        fieldset
        legend(style='font-size: 24px; color: lime;')   Submittion Form
        label(style='font-size: 20px; color: lime;')  userName
        input(style='font-size: 20px;', type='text', name='name', id='one')
        br
        label(style='font-size: 20px; color: lime;')  passowrd
        input(style='font-size: 20px;', type='password', name='pass')
        br
        label(style='font-size: 20px; color: lime;')  AGE
        input(style='font-size: 20px;', type='text', name='age')
            input(style='font-size: 18px; margin-left: 330px;', type='submit', value='Add Data')